<div id="pageweb">
    <div class="nav-menu">
      <div class="menu-top">
        <div class="left">
          <ul>
            <li class="bar"><a href=""></a></li>
            <li class="logo"><a href="">Insta PIC</a></li>
          </ul>
        </div>
        <div class="right">
          <ul>
            <li><a routerLink="">Join</a></li>
            <li><a routerLink="">Log In</a></li>
            <li><a routerLink=""></a></li>
            <li><a routerLink="" style="color: #9e33ff; font-size:18px; border-left: 2px solid #7f8086; padding-left: 40px;">Log Out</a></li>
          </ul>
        </div><!--right-->
      </div><!--menu-top-->
      <div class="conver">
        <div class="menu-left">
          <div class="side-menu">
            <ul>
              <li class="home"><a routerLink=""></a></li>
              <li class="pic"><a routerLink=""></a></li>
            </ul>
          </div>
        </div><!--menu-left-->
        <div class="post">
          <router-outlet></router-outlet>
        </div>
      </div>
  </div><!--nav-menu-->
  <div class="footer">
    <p>Created by RANDRIAMAHAROSON Tino Harilala IMTICIA5</p>
  </div>
</div>
