/*----default-----*/

ul{
    margin: 0px;
    padding:0px;
    list-style: none;
    display: flex;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
*{
    font-family: "Candara";
}


/*----------*/
.menu-top{
    background-color: #06070D;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
}
.left{
    padding-left: 10px;
}
.left ul{
    height: 50px;
}
.left ul li a, .right ul li:nth-child(3) a{
    font-size: 20px;
    font-weight: 700;
    display: block;
    position: relative;
    padding-left:50px ;
    height: 100%;
    display: flex;
    align-items: center;
}
.left ul li a::before, .right ul li:nth-child(3) a::before{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    left: 0;
}
.left ul li:nth-child(1) a::before{
    background-image: url(../assets/img/menu.png);
    background-size: 20px;
}

.left ul li:nth-child(2) a::before{
    background-image: url(../assets/img/logo.png);
    
}
.left ul li:nth-child(2){
    padding: 10px 0px;
}
.left ul li:nth-child(2) a{
    border-right: 2px solid #7f8086;
    padding-right: 20px;
}
.right ul li a{
    font-size: 16px;
    font-weight: 700;
    color: #ffffffab;
}
.right ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}
.right ul li{
    padding: 0px 25px;
}
.right ul li:nth-child(3) a::before{
    background-image: url(../assets/img/user.png);
}
.right ul li a:hover {
    color: #9e33ff;
    transition: 0.5s;
}

.menu-left{
    width: 70px;
    background-color: #06070D;
    position: fixed;
    top: 60px;
    bottom: 0;
    border-right: 1px solid #fff3;
}
.menu-left ul{
    display: flex;
    flex-direction: column;
}
.menu-left ul li a{
    display: block;
    width: 70px;
    height: 50px;
}
.menu-left ul li a{
    background-position: 50% 50%;
    background-size: 20px;
    background-repeat: no-repeat;
}
.menu-left ul li:nth-child(1) a{
    background-image: url(../assets/img/home.png);
}
.menu-left ul li:nth-child(2) a{
    background-image: url(../assets/img/add_picture.png);
}
.menu-left ul li:nth-child(1):hover a{
    background-image: url(../assets/img/home_hover.png);
    background-color: #292f34;
}
.menu-left ul li:nth-child(2):hover a{
    background-image: url(../assets/img/add_pic_hov.png);
    background-color: #292f34;
}
.post{
    padding: 60px 0px 0px 70px;
}