<div class="content">
    <div class="content-title">
        <h2>Home</h2>
    </div><!--content-title-->
    <div class="single-post-view">
        <ul class="list-group">
            <ng-container *ngFor="let post of posts">
            <li><a routerLink="post/{{ post.id }}"><app-single-post 
                                [titlepost] = "post.title"
                                [pathimg] = "post.imgpath"
                                [id] = "post.id" 
                                [user_id]="post.id_user">
                    </app-single-post></a></li>
            </ng-container>
        </ul>
       
    </div>
</div>
